MYSQL_DATA_DIR=

MONGO_DATA_DIR=

LOCALSTACK_AUTH_TOKEN=
LOCAL_STACK_DEBUG=
LOCAL_STACK_PERSISTENCE=

PHPMYADMIN_MYSQL_HOST=
PHPMYADMIN_MYSQL_PORT=
PHPMYADMIN_MYSQL_USER=
PHPMYADMIN_MYSQL_PASSWORD=

LOCALSTACK_DATA_DIR=

STRIPE_SECRET_KEY=

OLLAMA_DATA_DIR=
OLLAMA_WEBUI_DATA_DIR=
OLLAMA_API_BASE_URL=

REDIS_DATA_DIR=