API_KEY=
AUTH_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET_KEY=
REACT_URL=
FASTAPI_URL=
MONGODB_URI=
LOCALSTACK_URI=
SPRING_SERVER_PORT=
SPRING_PROFILES_ACTIVE=
STRIPE_PRICE_ID=
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET_KEY=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_PASSWORD=
MYSQL_USERNAME=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=